#game-board {
  list-style: none;
  padding: 0;
}

.board-row {
  display: flex;
}

.board-cell {
  width: 50px;
  height: 50px;
  margin: 4px;
  font-size: 24px;
}
#player.highlight-player li.active {
border : 1px solid red;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.log-item {
  animation: fadeIn 0.3s ease-in-out;
}
